@model Everywhere_Admin_UI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header data-spy="affix" data-offset-top="460" data-offset-bottom="200">
    <nav class="navbar navbar-admin" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="~/Images/everywhere_logo_admin.png"> <span class="sr-only"> Everywhere </span></a>
                <a class="navbar-brand" href="#"><h1 id="cspio-headline">everywhere™</h1></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-collapse-main">
                <div class="navbar-right">
                    <ul class="nav navbar-nav navbar-center">
                        <li><a href="#">Forgot Password?</a></li>
                    </ul>
                </div>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <nav class="navbar-green" role="navigation">
        <div class="container">
            <div class="text-center nav-header">
                <span>Forgot your password?</span>
            </div>
        </div>
    </nav>
</header>
<section class="bg-photo">
    <div class="page-content bg-grey">
        <div class="container">
            <div class="row pt-pb">
                <div class="col-sm-4 col-sm-offset-4">

                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form", @class = "admin-login form-group-lg", id = "rForm", @onsubmit = "forgotPassword(event)" }))
                    {
                        @Html.AntiForgeryToken()

                        <div id="validSummary" hidden>
                            <div class="alert hide">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong><img src="../images/icon-warning.png"></strong> <span class="text-danger">Something went wrong! email or password is not valid.</span>
                            </div>
                        </div>

                        if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                        {
                            <div class="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong><img src="../images/icon-warning.png"></strong> <span class="text-danger">Something went wrong! email or password is not valid.</span>
                            </div>
                        }

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "john.s@company.co", id = "uEmail" })
                        </div>
                        
                        <button type="submit" id="btnSignIn" class="btn-success cta btn-lg btn-block">Recover Pasword</button>
                        <br />
                        
                    }
                    @Html.Hidden("RedirectTo", Url.Action("ResetPassword", "Account"));
                </div>
            </div>
        </div>
    </div>
</section>
<footer></footer>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    function forgotPassword(e) {

        //$('#btnSignIn').click(function (e) {
        var email = $('#uEmail').val();
        var cURL = $("#RedirectTo").val();
        var apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["endpointAddress"]';
        sessionStorage.setItem('signUpEmail', email);
            $.ajax({
                url: apiUrl+"/api/v1/ForgotAdminPassword/",
                type: "POST",
                crossDomain: true,
                data: JSON.stringify({ 'email': email, 'callbackURL': 'http://admin.everywhere.live' + cURL }),
                dataType: "json",
                async: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    e.preventDefault();
                    var url = $("#RedirectTo").val();
                    window.location.href = url;

                },
                error: function (jqXhr, textStatus, errorThrown) {

                    e.preventDefault();
                    if (jqXhr.statusText == "OK") {
                        var url = $("#RedirectTo").val();
                        location.href = url;
                    }
                    else
                        alert("There is no user with this email. Please check and try again");
                        //$('#validSummary').show();
                }
            });
        //});
    }
</script>
