@model EverywhereWeb.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Verify";
}

<header>
    <nav class="navbar navbar-main navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                @*<a class="navbar-brand" href="#"><img src="~/images/everywhere_logo.png"> <span class="sr-only"> Everywhere </span></a>*@
                <ul  class="list-unstyled">
                    <li>
                        <a class="navbar-brand" href="#"><img src="../images/everywhere_logo.png"><span class="sr-only"> Everywhere </span></a>
                        <a class="navbar-brand" href="#"><h1 id="cspio-headline">everywhere<sup>™</sup></h1></a>
                    </li>
                </ul>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-collapse-main">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="#">Home</a></li>
                    @*<li><a href="#">How it Works</a></li>
                    <li><a href="#">Contact</a></li>*@
                </ul>

                <div class="navbar-right">
                    <p class="navbar-text">Already have an Account?</p> <button type="button" class="btn navbar-btn" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");" >Sign in</button>
                </div>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</header>
<section class="bg-photo bg-photo-2">
    <div class="bg-opac-dark page-content">
        <div class="container">
            <div class="row">

                <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

                    <div class="well well-lg well-white row">

                        @*<form action="POST" method="POST" role="form" class="col-sm-10 col-sm-offset-1 form-group-lg">*@
                        @using (Html.BeginForm("VerifyCode", "Account", FormMethod.Post, new { role = "form", @class = "col-sm-10 col-sm-offset-1 form-group-lg", id = "rForm", @onsubmit = "confirmEmail(event)" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-head">
                                <h2 class="have-icon-verify">Verification Code</h2>
                            </div>
                            if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                <div class="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong><img src="../images/icon-warning.png"></strong> <span class="text-danger">Something went wrong! Code is not valid.</span>
                                </div>
                            }
                            <div class="row">
                                <div class="col-sm-7">
                                    <p class="text-justify small">A verification code has been sent to your mobile phone. Please check your text messages. It may take few minutes to receive the message.  If you still haven't  received the message please click on <a href="#" onclick="resendVerificationCode(event)"><u>Resend</u></a> the verification code.</p>
                                </div>
                                <div class="col-sm-5">

                                    <div class="form-group letter-space">
                                        @Html.LabelFor(m => m.MobileCode, new { @class = "control-label" })
                                        @Html.TextBoxFor(m => m.MobileCode, new { @class = "form-control", placeholder = "1234", id = "txtMobileCode" })
                                        @*<label for="">Enter the 4 Digit Code</label>
                                        <input maxlength="4" type="text" class="form-control" id="txtCode" placeholder="1234">*@
                                    </div>
                                    <button type="submit" class="btn btn-success cta btn-lg btn-block">Verifiy</button>
                                </div>
                            </div>

                            
                            
                        }
                        @Html.Hidden("RedirectTo", Url.Action("VerifyCode", "Account"));
                        @Html.Hidden("loginURL", Url.Action("ConfirmRegistration", "Account"));
                        @*</form>*@

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    var apiUrl = "";
    $(document).ready(function () {
        apiUrl = '@System.Configuration.ConfigurationManager.AppSettings["endpointAddress"]';

    });
    function confirmEmail(e) {
        
        //$('#btnSignIn').click(function (e) {
        var mCode = $('#txtMobileCode').val();
        $.ajax({
            url: apiUrl+"/api/v1/ConfirmEmail/",
            type: "POST",
            crossDomain: true,
            data: JSON.stringify({ 'mobilecode': mCode }),
            dataType: "json",
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                e.preventDefault();
                var url = $("#loginURL").val();
                window.location.href = url;

            },
            error: function (jqXhr, textStatus, errorThrown) {
                
                if (jqXhr.statusText == "OK") {
                    e.preventDefault();
                    var url = $("#loginURL").val();
                    window.location.href = url;
                }
                else {
                    e.preventDefault();
                    alert('Incorrect Confirmation code');
                    $('#validSummary').show();
                }
            }
        });
        //});
    }

    function resendVerificationCode(e) {
        var cURL = 'https://web.everywhere.live' + $('#RedirectTo').val();
        //$('#btnSignIn').click(function (e) {
        var email = sessionStorage.getItem('signUpEmail');
        $.ajax({
            url: apiUrl + "/api/v1/user/ResendVerificationEmail/",
            type: "POST",
            crossDomain: true,
            data: JSON.stringify({ 'email': email, 'callbackURL': cURL }),
            dataType: "json",
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                e.preventDefault();
                var url = $("#RedirectTo").val();
                window.location.href = url;

            },
            error: function (jqXhr, textStatus, errorThrown) {

                e.preventDefault();
                if (jqXhr.statusText == "OK") {
                    alert("Verification code is sent to your mobile phone.");
                }
                else
                    $('#validSummary').show();
            }
        });
        //});
    }
</script>